*.py[cod]
.*
!.dockerignore
!.eslintrc.json
!.flowconfig
!.github
!.gitignore
!.pylintrc
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
/media/
/static/
/templates/templated_email/compiled/*
setup.sh
