{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to the Boldmere Bullets">
    <meta name="author" content="Boldmere Bullets">

    <title>Boldmere Bullets - Shop - {% block title %}{% endblock %}</title>

    <meta property="og:url"                content="https://www.boldmerebullets.com{{ request.path }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Boldmere Bullets - {% block facebookTitle %}{% endblock %}" />
    <meta property="og:description"        content="{% block facebookDescription %}Boldmere Bullets Online Shop{% endblock %}" />
    <meta property="og:image"              content="{% block facebookPicture %}{% static 'images/logo.png'%}{% endblock %}" />
    <meta property="fb:app_id" 		   content="1861837574051990" />
    <meta property="og:image:width"	   content="955">
    <meta property="og:image:height"	   content="960">

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="{% static 'css/bullets-shop-bootstrap.css' %}">
   <script src="https://unpkg.com/feather-icons"></script>

   {% block extraheader %}{% endblock %}

</head>

<body id="page-top">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'shop:home' %}">Boldmere Bullets Online Shop</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
	{% for category in categories %}
    	    <a class="p-2 text-dark" href="{% url 'shop:product-category' category.pk %}">{{ category }}</a>
	{% endfor %}
      </nav>
      <a class="btn btn-outline-primary d-flex align-items-center" href="{% url 'shop:basket' %}"><i data-feather="shopping-bag" class="mr-1"></i> shopping basket {% if basket.has_items %}<span class="badge badge-primary ml-1">{{ basket.item_count }}</span>{% endif %}</a>
    </div>
{% bootstrap_messages %}
    <main role="main" class="container">
{% block content %}

{% endblock content %}
    </main>
  
      <footer class="pt-4 p-3 px-md-4 mb-3 bg-white border-top">
        <div class="row">
	  <div class="col"><small class="text-muted"><a href="{% url 'index' %}">Boldmere Bullets</a></small></div>
	  <div class="col text-center"><small><a href="{% url 'delivery-times' %}">Postage and Delivery Information</a></small></div>
	  <div class="col text-right"><small class="text-muted"><a href="{% url 'privacy' %}">Privacy information</a></small></div>     
        </div>
      </footer>


        {% block footer %}
        {% endblock %}

        {% block footer_scripts %}
	{% include 'jquery.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock footer_scripts %}

	{% block extrafooter %}
	{% endblock %}

   <script>
  feather.replace()

// jQuery plugin to prevent double submission of forms
jQuery.fn.preventDoubleSubmission = function() {
  $(this).on('submit',function(e){
    var $form = $(this);

    if ($form.data('submitted') === true) {
      // Previously submitted - don't submit again
      e.preventDefault();
    } else {
      // Mark it so that the next submit can be ignored
      $form.data('submitted', true);
    }
  });

  // Keep chainability
  return this;
};

$('form').preventDoubleSubmission();

  </script>
    </body>
</html>

