{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap_field bootstrap_form from bootstrap4 %}
{% block title %}Checkout{% endblock %}

{% block content %} 
   <h1>Checkout : final review</h1>
   <div class="row mb-3">
    <div class="col-sm-6">
	<div class="card h-100">
		<div class="card-header">Billing Address
       		 <a href="{% url 'shop:checkout-billing' %}" class="btn btn-outline-primary btn-sm float-right">edit</a>
</div>
	        <div class="card-body">
		  <address  class="mb-0"><strong>{{ basket.billing_name }}</strong> ({{basket.email}})<br/>
			{{ basket.billing_address }}<br/>
			{{ basket.billing_postcode }}
		  </address>
		  <address></address>   
		</div>
	 </div>
     </div>
     {% if basket.postage_amount != 0 %}

     <div class="col-sm-6">
	<div class="card h-100">
  		<div class="card-header">Delivery Address
<a href="{% url 'shop:checkout-delivery' %}" class="btn btn-outline-primary btn-sm float-right">edit</a>
</div>
	        <div class="card-body">
		<address class="mb-0"><strong>{{ basket.delivery_name }}</strong><br/>
			{{ basket.delivery_address }}<br/>
			{{ basket.delivery_postcode }}
		</address>
		</div>
	</div>
      </div>
     {% endif %}	
  </div>
  

   <div class="row mb-3">
    <div class="col-sm-6">
	<div class="card h-100">
		<div class="card-header">Items being ordered</div>
	        <div class="card-body">
   			<table class="table table-sm">
    				<thead>
     					<tr>
      	 					<th>Item</th>
       						<th class="text-right">Quantity</th>
       						<th class="text-right">Price</th>
       						<th class="text-right">Total</th>
     					</tr>
    				</thead>
    				<tbody>
      				{% for item in basket.items.all %}
       				    <tr>
        				<td><a href="{% url 'shop:product' item.item.product.pk item.item.product.slug %}">{{item.item}}</a></td>
        				<td class="text-right">{{item.quantity}}</td>
        				<td class="text-right">&pound;{{item.price|floatformat:2}}</td>
        				<td class="text-right">&pound;{{item.total|floatformat:2}}</td>
       				    </tr>
      				{% endfor %}
    				</tbody>
   	 			<tfoot>
      					<tr>
        					<th colspan="3" class="text-right">Subtotal</th>
						<th class="text-right">&pound;{{basket.basket_total|floatformat:2}}</th>
      					</tr>
      					<tr>
        					<td colspan="3" class="text-right">Postage (<a href="{% url 'shop:checkout' %}">edit</a>)</td>
        					<td class="text-right">&pound;{{basket.postage_amount|floatformat:2}}</td>
       					</tr>
		{% if basket.voucher %}
      					<tr>
        					<td colspan="3" class="text-right">Voucher ({{basket.voucher.code}}) (<a href="{% url 'shop:checkout-voucher-remove' %}">remove</a>)</td>
        					<td class="text-right">-&pound;{{ basket.voucher.value|floatformat:2}} </td>
       					</tr>
		{% endif %}
       					<tr>
        					<th colspan="3" class="text-right">Total</th>
        					<th class="text-right">&pound;{{basket.grand_total|floatformat:2}}</th>
       					</tr>
    				</tfoot>
 	 		</table>
                {% if basket.voucher == None %}
			<div class="float-right">
			<form method="post" class="form-inline" action="{% url 'shop:checkout-voucher' %}">
				{% csrf_token %}
				{% bootstrap_field voucherform.code show_label=False layout="horizontal" placeholder="Voucher"%} 
				<button type="submit" class="btn btn-outline-primary ml-3">add<span class="d-none d-md-inline"> voucher</span></button>
			</form>
			</div>		
		{% endif %}	
		</div>
	</div>
     </div>
    <div class="col-sm-6">
	<div class="card h-100">
		<div class="card-header">Notes</div>
	        <div class="card-body">
			<p>You are about to place your order. If you would like to leave a note on the order - for example if an item can be customised with a printed name - leave it here. You will then be taken to the payment page.</p>
			 <form method="post" class="form-horizontal" >
            		{% csrf_token %}
				{% bootstrap_field form.comment show_label=False layout="horizontal" placeholder="Note"%} 
			<button type="submit" class="btn btn-primary btn-block mb-3">Payment</button>
			</form> 
		</div>
	 </div>
     </div>
  </div>
{% endblock %}



