{% extends "shop/base.html" %}
{% load static %}
{% block title %}{% if category %}{{category}} - {% endif %}Products{% endblock %}

{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">{% if category %}{{category}} - {% endif %}Products</h1>
          </div>

<div class="row">
	{% for product in products %}
	<div class="col-md-3 mb-3 d-flex align-items-stretch">
		<a href="{% url 'shop:product' product.pk product.slug %}" class="card">
  			<div class="card-body">
				<img class="card-img-top" src="{{ product.picture_url }}" alt="Picture of {{ product.name }}">
    				<h5 class="card-title mt-2">{{ product.name }}</h5>
				<h6 class="cart-title">&pound;{{product.price}}</h6>
  			</div>
		</a>
	</div>
        
	{% endfor %}
</div>

 {% endblock %} 
