{% extends "dashboard/base.html" %}
{% load static %}
{% block dashboardAllocations %}active{% endblock %}


{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">Allocations</h1>
          </div>
 	<p>The follow items are allocated to these people:</p>

	<table class="table table-sm sortable">
		<thead>
			<tr>
				<th>#</th>
				<th>Date</th>
				<th>Name</th>
				<th>Postage?</th>
				<th>Qty.</th>
				<th>Item</th>
				<th>notes</th>
			</tr>
		</thead>
		<tbody>
			{% for item in allocations %}
			<tr>
				<td><a href="{% url 'dashboard:order' item.order.pk %}">#{{ item.order.pk }}</a></td>
				<td data-dateformat="DD-MM-YY">{{ item.order.created|date:"d/m/y" }}</td>
				<td>{{ item.order.name }}</td>
				<td>{% if item.order.postage_amount > 0 %}<span class="badge badge-primary">post</span>{% endif %}</td>
				<td class="text-right">{{ item.quantity_allocated }}</td>
				<td>{{ item.item_name }}</td>
				<td>{{ item.order.customer_notes }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>			


	{% if item_pk %}
        	<a href="{% url 'dashboard:product-bulk-ship' item_pk %}" class="btn btn-outline-primary btn-block">bulk ship these items</a>
	{% endif %}

	<h2>Email addresses for these purchasers</h2>
	<p>You <strong>must</strong> ensure you use BCC to email these people!</p>
        {% regroup allocations by order.email as email_list %}
	<samp><a href="mailto:?bcc={% for email, items in email_list %}{{ email }}{% if forloop.last != True%},{%endif%}{%endfor%}&subject=Your Boldmere Bullets Order">

{% for email, items in email_list %}{{ email }}{% if forloop.last != True%}, {%endif%}{% endfor %}
	</a>
	</samp>


     {% endblock %}



