{% extends "dashboard/base.html" %}
{% load static %}


{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">Allocations</h1>
          </div>
 	<p>The follow items are allocated to these people:</p>

	{% regroup allocations by order.name as allocation_list %}
		<div class="row">
			<div class="col">
				<strong><a href="{% url 'dashboard:allocations'%}">Name</a></strong>
			</div>
			<div class="col-9">
				<div class="row">
					<div class="col-2"><strong><a href="{% url 'dashboard:allocations-order' %}">Order #</a></strong></div>
					<div class="col-3 text-right"><strong><a href="{% url 'dashboard:allocations-date' %}">Date</a></strong></div>
					<div class="col-1 text-right"><strong>Qty.</strong></div>
					<div class="col"><strong><a href="{% url 'dashboard:allocations-item' %}">Item</a></strong></div>
				</div>
			</div>
		</div>
					
		

	{% for person, items in allocation_list %}
		<div class="row mb-2">
			<div class="col">
				{{ person }}
			</div>
			<div class="col-9">
				{% for item in items %}
				<div class="row">
					<div class="col-2"><a href="{% url 'dashboard:order' item.order.pk %}">Order #{{ item.order.pk }}</a></div>
					<div class="col-3 text-right">{{ item.order.created|date:"d/m/y H:i:s" }}</div>
					<div class="col-1 text-right">{{ item.quantity_allocated }}</div>
					<div class="col">{{ item.item_name }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}      

     {% endblock %}



