{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to the Boldmere Bullets">
    <meta name="author" content="Boldmere Bullets">

    <title>Boldmere Bullets - Shop - Dashboard - {% block title %}{% endblock %}</title>


    	<!-- Bootstrap Core CSS -->
    	<link rel="stylesheet" href="{% static 'css/bullets-shop-bootstrap.css' %}?a=2">
 	<script src="https://unpkg.com/feather-icons"></script>
	<link href="{% static 'css/bootstrap-sortable.css' %}" rel="stylesheet">

	{% block extraheader %}{% endblock %}

</head>

<body id="page-top">
  <nav class="navbar navbar-dark bg-dark">
    <div class="dropdown d-block d-sm-none">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span data-feather="menu"></span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item nav-link" href="{% url 'dashboard:index' %}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>

                <a class="dropdown-item nav-link" href="{% url 'dashboard:products' %}">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>

                <a class="dropdown-item nav-link" href="{% url 'dashboard:orders-paid-outstanding' %}">
                  <span data-feather="file"></span>
                  Purchases 
                </a>
                <a class="dropdown-item nav-link" href="{% url 'dashboard:allocations' %}">
                  <span data-feather="layers"></span>
                  Allocations
                </a>
                <a class="dropdown-item nav-link" href="{% url 'dashboard:vouchers' %}">
                  <span data-feather="tag"></span>
                  Vouchers
                </a>
                <a class="dropdown-item nav-link" href="{% url 'dashboard:categories' %}">
                  <span data-feather="folder"></span>
                  Categories
                </a>
                <a class="dropdown-item nav-link" href="{% url 'dashboard:suppliers' %}">
                  <span data-feather="users"></span>
                  Suppliers
                </a>
                <a class="dropdown-item nav-link" href="{% url 'dashboard:postage' %}">
                  <span data-feather="truck"></span>
                  Postage
                </a>
  </div>
</div>
      <a class="navbar-brand mr-0" href="{% url 'dashboard:index' %}"><div class="d-none d-md-inline">Boldmere Bullets Shop - </div>Dashboard</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'logout' %}">Sign out<div class="d-none d-md-inline"> {{ user.username }}</div></a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {%block dashboardHome%}{%endblock%}" href="{% url 'dashboard:index' %}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
             <li class="nav-item">
                <a class="nav-link {%block dashboardProducts%}{%endblock%}" href="{% url 'dashboard:products' %}">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%block dashboardOrders%}{%endblock%}" href="{% url 'dashboard:orders-paid-outstanding' %}">
                  <span data-feather="file"></span>
                  Purchases 
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link {%block dashboardAllocations%}{%endblock%}" href="{% url 'dashboard:allocations' %}">
                  <span data-feather="layers"></span>
                  Allocations
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%block dashboardVouchers%}{%endblock%}" href="{% url 'dashboard:vouchers' %}">
                  <span data-feather="tag"></span>
                  Vouchers
                </a>
	     </li>
             <li class="nav-item">
                <a class="nav-link {%block dashboardCategories%}{%endblock%}" href="{% url 'dashboard:categories' %}">
                  <span data-feather="folder"></span>
                  Categories
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link {%block dashboardSuppliers%}{%endblock%}" href="{% url 'dashboard:suppliers' %}">
                  <span data-feather="users"></span>
                  Suppliers
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link {%block dashboardPostage%}{%endblock%}" href="{% url 'dashboard:postage' %}">
                  <span data-feather="truck"></span>
                  Postage
                </a>
              </li>
            </ul>

           </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

          {% block content %} {% endblock %}
        </main>
      </div>
    </div>
 	 

        {% block footer %}
        {% endblock %}

        {% block footer_scripts %}
		{% include 'jquery.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script src="{% static 'js/bootstrap-sortable.js' %}"></script>
        {% endblock footer_scripts %}

	{% block extrafooter %}
	{% endblock %}

   	<script>
  	feather.replace()

	jQuery(document).ready(function($) {
    		$(".clickable-row").click(function() {
        		window.location = $(this).data("href");
    		});
	});
	</script>
    </body>
</html>

