{% extends "dashboard/base.html" %}
{% load static %}


{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
 		<div class="card mb-3">
  			<div class="card-header">Items ready to dispatch</div>
	    	    	<div class="card-body">

<table class="table table-sm table-hover">
  <thead>
	<tr>
		<th>Item</th>
		<th class="text-right">Qty</th>
		<th>For</th>
	</tr>
  </thead>
  <tbody>
	{% for item in allocations %}
	<tr class='clickable-row' data-href='{% url 'dashboard:order' item.order.pk %}#dispatch'>
		<td>{{item.item_name}}</td>
		<td class="text-right">{{item.quantity_allocated}}</td>
		<td>{{item.order.name}}</td>		
	</tr>
	{% endfor %}
  </tbody>
</table>
  			</div>
		</div>




 		<div class="card mb-3">
  			<div class="card-header">Latest purchases</div>
	    	    	<div class="card-body">


<table class="table-responsive table-sm table-hover">
  <thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th class="text-right">Status</th>
		<th class="text-right">Total</th>
		<th class="text-right">Created</th>
	</tr>
  </thead>
  <tbody>
	{% for order in purchases %}
	<tr class='clickable-row' data-href='{% url 'dashboard:order' order.pk %}'>
		<td>{{order.pk}}</td>
		<td>{{order.name}}</td>
		<td class="text-right">{{order.status}}</td>
		<td class="text-right">&pound;{{order.grand_total}}</td>
		<td class="text-right">{{order.created|date:"H:i d/m/y"}}</td>
	</tr>
	{% endfor %}
  </tbody>
</table>

	  			</div>
		</div>
 		<div class="card mb-3">
  			<div class="card-header">Stock required</div>
	    	    	<div class="card-body">

<table class="table table-sm table-hover">
  <thead>
	<tr>
		<th>Item</th>
		<th>Supplier</th>
		<th class="text-right">Qty Needed</th>
	</tr>
  </thead>
  <tbody>
	{% for item in stock_required %}
	<tr class='clickable-row' data-href='{% url 'dashboard:supplier-order' item.product.supplier.pk %}'>
		<td>{{item}}</td>
		<td>{{item.product.supplier}}</td>
		<td class="text-right">{{item.quantity_to_order}}</td>
	</tr>
	{% endfor %}
  </tbody>
</table>

	
  			</div>
		</div>
 {% endblock %} 
