{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap_field bootstrap_button from bootstrap4 %}
{% block dashboardOrders %}active{% endblock %}

{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">{{ order }}</h1>
          </div>

<ul class="nav nav-tabs flex-column flex-sm-row mb-2" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="dispatch-tab" data-toggle="tab" href="#dispatch" role="tab" aria-controls="profile" aria-selected="false">Items to dispatch  <span class="badge badge-primary">{{ order.dispatch_items.count }}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="contact" aria-selected="false">Items waiting for stock <span class="badge badge-primary">{{ order.total_waiting_for_stock }}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="dispatched-tab" data-toggle="tab" href="#dispatched" role="tab" aria-controls="contact" aria-selected="false">Items dispatched <span class="badge badge-secondary"><span>{{order.dispatched_items.count }}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="refund-tab" data-toggle="tab" href="#refund" role="tab" aria-controls="contact" aria-selected="false">Items refunded  <span class="badge badge-secondary"><span>{{order.refunded_items.count }}</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="payments-tab" data-toggle="tab" href="#payments" role="tab" aria-controls="contact" aria-selected="false">Payments</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">


  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

<div class="row">
 <div class="col-sm-8">
	<div class="card mb-3">

	<div class="card-header">Items</div>
	        <div class="card-body">
		    <div class="table-responsive">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Item</th>
						<th>Status</th>
						<th class="text-right">Price</th>
						<th class="text-right">Qty.</th>
						<th class="text-right">Total</th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.items.all %}
					<tr>
						<td>{{item.item_name}}</td>
						<td>{{item.status}}</td>
						<td class="text-right">&pound;{{item.item_price}}</td>
						<td class="text-right">{{item.quantity_ordered}}</td>
						<td class="text-right">&pound;{{item.line_price}}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" class="text-right">Postage</td>
						<td class="text-right">&pound;{{order.postage_amount}}</td>
					</tr>
				{% if order.voucher %}
      					<tr>
       						<td colspan="4" class="text-right">Voucher (<a href="{% url 'dashboard:voucher-view' order.voucher.pk %}">{{order.voucher.code}}</a>)</td>
        					<td class="text-right">-&pound;{{ order.voucher.value|floatformat:2}} </td>
      					</tr>
				{% endif %}
					<tr>
						<th colspan="4" class="text-right">Grand total</th>
						<th class="text-right">&pound;{{order.grand_total}}</th>
					</tr>
				</tfoot>
			</table>
		    </div>
		</div>
	</div>

	<div class="card mb-3">
  		<div class="card-header">Notes and history</div>
	        <div class="card-body">
		    <div class="table-responsive">
			<table class="table table-sm">
				<thead>
  				   <tr>
					<th>When</th>
					<th>Note</th>
				   </tr>
				</thead>
				<tbody>
					{% for history in order.comments.all %}
				    <tr>
					<td>{{ history.created|date:"d/m/y H:i:s" }}</td>
					<td>{{ history.comment }}</td>
				    </tr>
					{% endfor %}
				</tbody>
				<tfoot>
				    <tr>
					<td></td>
					<td>
						<form class="form-inline" method="POST" action="{% url 'dashboard:order-comment' order.pk %}">
						{% csrf_token %}
							<div class="input-group mb-3">
  								<input type="text" class="form-control" placeholder="comment" size="40" aria-label="comment" aria-describedby="comment" name="comment" id="comment">
  								<div class="input-group-append">
    									<button class="btn btn-outline-secondary" type="submit">save</button>
  								</div>
							</div>
						</form>
					</td>
				    </tr>
				</tfoot>
			</table>
  		    </div>
		</div>
	</div>



 </div>
 <div class="col">
 	<div class="card mb-3">
  		<div class="card-header">Billing</div>
	        <div class="card-body">
			<address><strong>{{ order.billing_name }}</strong><br/>
			{{ order.billing_address }}<br/>
			{{ order.billing_postcode }}
			</address>
			<address><a href="mailto:{{ order.billing_email }}">{{order.billing_email}}</a></address>
		</div>
	</div>
 	<div class="card mb-3">
  		<div class="card-header">Payment {% if order.fully_paid %}<div class="float-right">Fully Paid</div>{% else %}<a href="{% url 'dashboard:order-pay-cash' order.pk %}" class="float-right btn btn-outline-primary btn-sm">Cash Payment</a>{% endif %}</div>
	        <div class="card-body">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Date</th>
					<th>Status</th>
					<th class="text-right">Amount</th>
				</tr>
			</thead>
			<tbody>
			{% for payment in order.payments.all %}
				<tr>
					<td>{{payment.modified|date:"d/m/y"}}</td>
					<td>{{payment.get_status_display}}</td>
					<td class="text-right">&pound;{{payment.captured_amount}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% if order.can_cancel %}
		<a href="{% url 'dashboard:order-cancel' order.pk %}" class="btn btn-outline-danger btn-block btn-sm">Refund & cancel order</a>
		{% endif %}
		</div>
	</div>


 </div>
</div>


</div>


  <div class="tab-pane fade" id="dispatch" role="tabpanel" aria-labelledby="dispatch-tab">
		<form method="post" class="form-horizontal" action="{% url 'dashboard:order-items-dispatch' order.pk %}">
            		{% csrf_token %}
		       <div class="table-responsive">

			<table class="table table-sm">
				<thead>
					<tr>
						<th>Item</th>
						<th>Status</th>
						<th class="text-right">Qty. purchased</th>
						<th class="text-right">Qty. ready to dispatch</th>
						<th class="text-right">Qty. dispatched</th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.dispatch_items.all %}
					<tr>
						<td class="align-middle">{{item.item_name}}</td>
						<td class="align-middle">{{item.status}}</td>
						<td class="align-middle text-right">{{item.quantity_ordered}}</td>
						<td class="align-middle text-right">{{item.quantity_allocated}}</td>
						<td class="align-middle"><input name="id-{{item.pk}}" class="form-control form-control-sm" type="number" value="{{item.quantity_allocated}}" min="0" max="{{item.quantity_allocated}}"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			{% if  order.dispatch_items.all.count > 0 %}
			<button type="submit" class="btn btn-primary btn-block mb-3">Dispatch Items!</button>
			{% endif %}

		</form>

  </div>

  <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
    <div class="table-responsive">

	<table class="table table-sm">
				<thead>
					<tr>
						<th>Item</th>
						<th class="text-right">Qty. purchased</th>
						<th class="text-right">Qty. delivered</th>
						<th class="text-right">Qty. allocated</th>
						<th class="text-right">Qty. needed</th>
						<th class="text-right">Qty. on order from supplier</th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.on_order_items.all %}
					<tr>
						<td class="align-middle">{{item.item_name}}</td>
						<td class="align-middle text-right">{{item.quantity_ordered}}</td>
						<td class="align-middle text-right">{{item.quantity_delivered}}</td>
						<td class="align-middle text-right">{{item.quantity_allocated}}</td>
						<td class="align-middle text-right">{{item.unallocated}}</td>
						<td class="align-middle text-right">{{item.item.quantity_on_order}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

	</div>
  </div>

  <div class="tab-pane fade" id="dispatched" role="tabpanel" aria-labelledby="dispatched-tab">
     <div class="table-responsive">

	<table class="table table-sm">
				<thead>
					<tr>
						<th>Item</th>
						<th>Status</th>
						<th class="text-right">Qty. purchased</th>
						<th class="text-right">Qty. delivered</th>
						<th class="text-right">Qty. remaining</th>
 						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.dispatched_items.all %}
					<tr>
						<td class="align-middle">{{item.item_name}}</td>
						<td class="align-middle">{{item.status}}</td>
						<td class="align-middle text-right">{{item.quantity_ordered}}</td>
						<td class="align-middle text-right">{{item.quantity_delivered}}</td>
						<td class="align-middle text-right">{{item.left_to_deliver}}</td>
						<td class="align-middle"><a href="{% url 'dashboard:order-item-return' item.pk %}" class="btn-secondary btn-sm">Return</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	 </div>
  </div>
 <div class="tab-pane fade" id="refund" role="tabpanel" aria-labelledby="refund-tab">
   <div class="table-responsive">
	<table class="table table-sm">
				<thead>
					<tr>
						<th>Item</th>
						<th>Status</th>
						<th class="text-right">Qty. ordered</th>
						<th class="text-right">Qty. delivered</th>
						<th class="text-right">Qty. refunded</th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.refunded_items.all %}
					<tr>
						<td class="align-middle">{{item.item_name}}</td>
						<td class="align-middle">{{item.status}}</td>
						<td class="align-middle text-right">{{item.quantity_ordered}}</td>
						<td class="align-middle text-right">{{item.quantity_delivered}}</td>
						<td class="align-middle text-right">{{item.quantity_refunded}}</td>
					</tr>
					{% endfor %}
				</tbody>
	</table>
	</div>
  </div>

  <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
	<p>Details of payments made and refunded on this order</p>
	<div class="table-responsive">

	<table class="table table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Status</th>
						<th>Variant</th>
						<th>Fraud Status</th>
 						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for payment in order.payments.all %}
					<tr>
						<td>{{payment.id}}</td>
						<td>{{payment.created}}</td>
						<td>{{payment.get_status_display}}</td>
						<td>{{payment.variant}}</td>
						<td>{{payment.get_fraud_status_display}}</td>
						<td class="align-right">&pound;{{payment.total }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>
  </div>



</div>
  	

 {% endblock %}


{% block extrafooter %}
<script>
$(document).ready(() => {
  let url = location.href.replace(/\/$/, "");
 
  if (location.hash) {
    const hash = url.split("#");
    $('#myTab a[href="#'+hash[1]+'"]').tab("show");
    url = location.href.replace(/\/#/, "#");
    history.replaceState(null, null, url);
    setTimeout(() => {
      $(window).scrollTop(0);
    }, 400);
  } 
   
  $('a[data-toggle="tab"]').on("click", function() {
    let newUrl;
    const hash = $(this).attr("href");
    if(hash == "#home") {
      newUrl = url.split("#")[0];
    } else {
      newUrl = url.split("#")[0] + hash;
    }
    newUrl += "/";
    history.replaceState(null, null, newUrl);
  });
});

</script>
{% endblock %}

