{% extends "dashboard/base.html" %}
{% load static %}
{% load bootstrap_form from bootstrap4 %}

{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">Delete Product Postage - {{ postage }}</h1>
          </div>
<div>

  <form method="post" class="form-horizontal" >
            {% csrf_token %}
	 	<p>Are you sure you want to delete product postage "{{ postage }}"?</p>
 {% if object.products.count > 0 %} 
<p><strong>The following products will have this postage removed from them!</strong></p>
 <ul>
{% for product in postage.products.all %}
<li>{{ product }}</li>
{% endfor %}
</ul>
{% endif %}

                       <p class="text-right">	
				<a class="btn btn-outline-primary" href="{% url 'dashboard:postage' %}" role="button">cancel</a>			
                		<button type="submit" class="btn btn-danger">Delete</button>
            		</p>
        </form>



</div>
 {% endblock %} 
