{% extends "dashboard/base.html" %}
{% load static %}
{% block dashboardProducts %}active{% endblock %}


{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">Bulk Dispatch {{ productitem }}</h1>
          </div>
 	<p>Do you wish to mark the following purchases as having {{ productitem }} dispatched?</p>
	<table class="table table-sm">
		<thead>
			<tr><th>Order #</th><th>Name</th><th>Quantity</th><th>Item</th></tr>
		</thead>
		<tbody>
	{% for item in items %}
			<tr>
				<td>{{ item.order.id }}</td>
				<td>{{ item.order.name }}</td>
				<td>{{ item.quantity_allocated }}</td>
				<td>{{ item.item_name }}</td>
			</tr>
	{% endfor %}	
		</tbody>
	</table>

  	<form method="post" class="form-horizontal" >
            	{% csrf_token %}
                <input type="hidden" name="confirm" value="True">
		{% for item in items %}
			<input type="hidden" name="bulk" value="{{ item.pk }}">
		{% endfor %}
	        <p class="text-right">
				<a class="btn btn-outline-primary" href="{% url 'dashboard:allocations' %}" role="button">cancel</a>
				<button type="submit" class="btn btn-primary">dispatch</button>
            	</p>
        </form>
     {% endblock %}



