{% extends "dashboard/base.html" %}
{% load static %}


{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">Product Categories</h1>
          </div>
<div>
<table class="table">
  <thead>
	<tr>
		<th>Name</th>
		<th>Visible?</th>
		<th>Number of Products</th>
		<th>Add a product</th>
	</tr>
  </thead>
  <tbody>
	{% for category in object_list %}
	<tr>
		<td><a href="{% url 'dashboard:category-update' category.pk %}">{{ category.name }}</a></td>
		<td>{{ category.hidden|yesno:"No,Yes" }}</td>
		<td>{{ category.products.count }}</td>
		<td><a href="{% url 'dashboard:product-add-category' category.pk %}"><i data-feather="plus-circle"></i></a></td>
	</tr>
	{% endfor %}
  </tbody>
</table>
<a class="btn btn-outline-primary" href="{% url 'dashboard:category-add' %}" role="button">Add new</a>

</div>
 {% endblock %} 
