{% extends "dashboard/base.html" %}
{% load static %}


{% block content %} 
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">Delivery from {{ supplier }}</h1>
          </div>
 	<p>The follow items in the delivery are allocated to these people:</p>
            <table class="table">
              <thead>
                <tr>
		  <th>Item</th>
		  <th>Order for</th>
		  <th class="text-right">Quantity allocated</th>
		</tr>
	      </thead>
	      <tbody>
	        {% for thing in allocations %}
		<tr>
		  <td>{{thing.orderitem.item_name}}</td>
		  <td><a href="{% url 'dashboard:order' thing.orderitem.order.pk %}">{{thing.orderitem.order}}</a></td>
		  <td class="text-right">{{thing.just_allocated}}</td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	<a href="{% url 'dashboard:allocations' %}" class="btn btn-primary btn-block mb-3">View all allocations</a>

     {% endblock %}



